@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;400&family=Merienda:wght@700&family=Montserrat&display=swap');
#ibrah{
    height: 10vh;
}
body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:57ca1d;
}
.nav-link,
.navbar-brand {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
#kichwa {
    background-size: cover;
    background-position: center;
    position: relative;
}
#kichwa {
    background-image: url(./images/ibra.jpg);
    
    background-position: center;
}
#kichwa img
{
    height: 100vh;
    
}
.overlay {
    background-image: url('images/mainimg.jpg');
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
/* .description h2 {
	color: #57ca1d;
}
.span ::before{
    transform: rotateZ(60deg) translate(-5em, 7.5em);
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
 content: "";
 animation: infinite 10s;
}
@keyframes sheen{
    0%{
        content: "Software Full-Stack Developer " ;
        transform: rotateZ(60deg) translate(-5em, 7.5em);
    }
    50%{
        content: "I can meet your-: Front-End and Back-End Development NEEDS!";
        transform: rotateZ(60deg) translate(-5em, 7.5em);
    }
} */
